<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <% if (user) { %>
    <div class="profile">
        <p>First Name: <%= user.firstName %></p>
        <p>Last Name: <%= user.lastName %></p>
        <p>username : <%= user.username %></p>
        <p>Email: <%= user.email %></p>
        <p>Image Path: /images/<%= user.imagePath %></p>
        <img src="/images/<%= user.imagePath %>">
    </div>
    <div class="edit-profile">
        <a href="/user/update_profile">Edit Pofile</a>
    </div>
    <% } %>
</body>
</html>